/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto');

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

html,
body,
ezq-app {
  height: 100%;
}

body {
  overflow: hidden;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#559e72+0,2e165e+100 */
  background: #559e72; /* Old browsers */
  background: -moz-linear-gradient(
    -45deg,
    #559e72 0%,
    #2e165e 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    -45deg,
    #559e72 0%,
    #2e165e 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    135deg,
    #559e72 0%,
    #2e165e 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#559e72', endColorstr='#2e165e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.field {
  border: none;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
  border-radius: 0.4rem;
  padding: 1rem;
  margin-bottom: 1rem;
  outline: none;
  width: 100%;
  box-sizing: border-box;
}

.field:focus {
  border-color: #2e175e;
}
